*{
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/*NABVAR*/

.container-fluid {
    margin-right: 5rem;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #3D3C39;
}

.navbar-brand {
    margin-left: 3rem;
}
.nav-link {
    color: #A09988;
}

.green{
    color: #54A12F;
}

a:hover {
    color: #fff; 
}

/*PRINCIPAL*/

.div-image{
    position: relative;
}

#boton-comprar {
    background: #55A42E;
    border: none;
}

#boton-quiero {
    border: white;
}

.conferencia-articulo {
    margin-right: 5rem;
}


/*CARD*/
#container-card {
    background-color: #ffffff;
    margin: auto;
}

.text-oradores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oradores-bold{
    font-size: 1.9rem;
    font-weight: bold;
}

#card {
    padding: 0;
    
}

.badge{
    margin-left: 0.5rem;
}


/*hONOLULU*/

#Honolulu-bg { 
    background-color:#3D3C39 ;
    
}

.boton-conocer:hover {
    background-color: #9e9a5c;
}

/*FORMULARIO*/
.spam-orador {
    font-size: 1.9rem;
    font-weight: bold;
}

.boton-enviar {
background-color:#A6C516;
}

.boton-enviar:hover {
    background-color: #cef521;
}

/*FOOTER*/

.container-footer {
    max-width: 100%;
    overflow-x: hidden;
}

footer{
    background-color: #344F5F;
}

.text-footer:hover {
    color: #000000;
}

