*{
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/*NABVAR*/

.navbar{
    display: flex;
    flex-direction: row;
}

/*PRINCIPAL*/

.div-image{
    position: relative;
}

#boton-comprar {
    background: #55A42E;
    border: none;
}

#boton-quiero {
    border: white;
}

.conferencia-articulo {
    margin-right: 5rem;
}


/*CARD*/
#container-card {
    background-color: #ffffff;
    margin: auto;
}

.text-oradores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oradores-bold{
    font-size: 1.9rem;
    font-weight: bold;
}

#card {
    padding: 0;
    
}

.badge{
    margin-left: 0.5rem;
}


/*hONOLULU*/

#Honolulu-bg { 
    background-color:#3D3C39 ;
    
}

/*FORMULARIO*/
.spam-orador {
    font-size: 1.9rem;
    font-weight: bold;
}

/*FOOTER*/

footer{
    background-color: #344F5F;
}