*{
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: #73799b;
}

/*NABVAR*/

.navbar{
    display: flex;
    flex-direction: row;
}

/*PRINCIPAL*/

.div-image{
    position: relative;
}


/*CARD*/


/*hONOLULU*/

.buenos-aires {
    width: 90vw;
    height: auto;
}
.honolulu {
    width: 50vw;
}


/*FORMULARIO*/


.col {
    padding: 0%;
}

.row-nombre {
width: 100vw;
}

/*FOOTER*/